{{ define "main" }}

{{ $AllPages := .Pages }}
{{ if .IsHome }}
  {{ $AllPages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ $Pages := $AllPages }}
{{ if not .Site.Params.showHidden }}
  {{ $Pages = where $AllPages "Params.hidden" "!=" true }}
{{ end }}

{{ $IsHome := .IsHome }}
<article>
  <header>
    <h1>
    {{ if .IsHome }}
      <!-- Articles -->
    {{ else }}
      {{ .Title }}
    {{ end }}
    </h1>
  </header>

  <div>
  {{ if $Pages }}
    {{ range (.Paginate ($Pages.GroupByDate "2006") 20).PageGroups }}
      {{ if $IsHome }}
      <h2>{{ .Key }}</h2>
      {{ end }}
      {{ range .Pages.GroupByDate ""}}

        {{ if $IsHome }}
        <ul class="archive">
        {{ end }}

        {{ range .Pages }}
          <li>
          {{ if $IsHome }}
            {{ if .Date }}
              <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "01-02" }}</time>
            {{ end }}
          {{ end }}
          {{ if .Params.draft }}
            <a href="{{ .Permalink }}">**{{ .Title }}</a>
          {{ else }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end}}
          </li>
        {{ end }}

        {{ if $IsHome }}
        </ul>
        {{ end }}

      {{ end }}

    {{ end }}

    <div class="centered">
      <!--
      {{ if .Paginator.HasPrev }}
        <a href="{{ .Paginator.Prev.URL }}">&#129092;</a>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <a href="{{ .Paginator.Next.URL }}">&#129094;</a>
      {{ end }}-->
      {{ $paginator := $.Paginator }}
      {{ if gt $paginator.TotalPages 1}}
        {{ range $paginator.Pagers }}
          {{ if eq . $paginator}}
            <a href="{{ .URL }}" class="bold">{{ .PageNumber }}&#8196</a>
          {{else}}
            <a href="{{ .URL }}">{{ .PageNumber }}&#8196</a>
          {{end}}
        {{ end }}
      {{ end }}
    </div>

  {{ end }}
  </div>
  
  <!-- .Content  -->
</article>

{{ end }}
