{{ define "main" }}

{{ $AllPages := .Pages }}
{{ if .IsHome }}
  {{ $AllPages = where site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ end }}

{{ $Pages := $AllPages }}
{{ if not .Site.Params.showHidden }}
  {{ $Pages = where $AllPages "Params.hidden" "!=" true }}
{{ end }}

<article>
  <header>
    <h1>
    {{ if .IsHome }}
      <!-- Articles -->
    {{ else }}
      {{ .Title }}
    {{ end }}
    </h1>
  </header>

  <div>
  {{ if $Pages }}
    {{ range (.Paginate ($Pages.GroupByDate "2006") 20).PageGroups }}
      <h2>{{ .Key }}</h2>
      {{ range .Pages.GroupByDate ""}}

        <ul class="archive">
        <!-- .Pages in $Pages -->

        {{ range .Pages }}
          <li>
          {{ if .Date }}
            <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "01-02" }}</time>
          {{ end }}
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <!-- range .Params.categories 
              >> <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" padding-left: auto;><strong>{{ . }}</strong></a>
            end  -->
          </li>
        {{ end }}
        </ul>

      {{ end }}

    {{ end }}

    {{ if .IsHome }}
      <div class="centered">
        <!--
        {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}">&#129092;</a>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <a href="{{ .Paginator.Next.URL }}">&#129094;</a>
        {{ end }}-->
        {{ $paginator := $.Paginator }}
        {{ range $paginator.Pagers }}
          {{ if eq . $paginator}}
            <a href="{{ .URL }}" class="bold">{{ .PageNumber }}&#8196</a>
          {{else}}
            <a href="{{ .URL }}">{{ .PageNumber }}&#8196</a>
          {{end}}
        {{ end }}
      </div>
    {{end}}

  {{ end }}
  </div>
  
  <!-- .Content  -->
</article>

{{ end }}
