<div class="comments">
{{ if and .Site.Params.disqus .Params.enableDisqus }}
  <div class="disqus">
    <div id="disqus_thread"></div>
    <script>
      window.addEventListener("load", () => {
        (function() {
          // DON'T EDIT BELOW THIS LINE
          var d = document,
            s = d.createElement("script");
          s.src = "https://{{ .Site.Params.disqus }}.disqus.com/embed.js";
          s.setAttribute("data-timestamp", +new Date());
          (d.head || d.body).appendChild(s);
        })();
      });
    </script>
    <noscript>Please enable JavaScript to view the
      <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
{{ end }}

{{ if .Site.Params.valine.enable }}
  <div class="valine" >
    <script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    <!-- visitor count -->
    {{ if and (not .Site.Params.valine.enableHeaderVisitor) (or (ne .Site.BaseURL "http://localhost:1313/") .Site.Params.valine.debug) }}
      <span id="{{ .URL | relURL }}" class="leancloud_visitors" data-flag-title="{{ .Title }}">
        {{ T "valinePV"}}
        <span class="leancloud-visitors-count">0</span> Views
        <p></p>
      </span>
    {{ end }}
    {{ if not .Params.enableDisqus }}
    <div id="vcomments"></div>
    <script type="text/javascript">
      new Valine({
          el: '#vcomments',
          highlight: false,
          lang: {{ .Site.Params.valine.lang }},
          appId: {{ .Site.Params.valine.appId }},
          appKey: {{ .Site.Params.valine.appKey }},
          placeholder: {{ .Site.Params.valine.placeholder }},
          requiredFields: {{ .Site.Params.valine.requiredFields }},
          avatar: {{ .Site.Params.valine.avatar }},
          visitor: {{ .Site.Params.valine.visitor }},
          recordIP: true
      });
    </script>
    {{ end }}
  </div>
{{ end }}
</div>