<header class="menus">
  {{ if not (gt (len .Site.Menus) 0) }}
  <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  {{ end }}

  <nav >
    {{ range .Site.Menus.main }}
    <a href="{{ .URL }}" class="header"> {{ .Name }}</a>
    {{ end }}
  </nav>

  <nav class="fontawesome">
    {{ if .Site.Social.douban }}
    <a href="{{ .Site.Social.douban }}" target="_blank" class="header">
      <img src="{{ .Site.BaseURL }}images/douban.png" width="16" height="16" class="fab">
    </a>
    {{ end }}
    {{ if .Site.Social.instagram }}
    <a href="{{ .Site.Social.instagram }}" target="_blank" class="header">
        <i title="Instagram" class="fab fa-instagram"></i>
    </a>
    {{ end }}
    {{ if .Site.Social.twitter }}
    <a href="{{ .Site.Social.twitter }}" target="_blank" class="header">
        <i title="Twitter" class="fab fa-twitter"></i>
    </a>
    {{ end }}
    {{ if .Site.Social.rss }}
    <a href="{{ "index.xml" | absLangURL }}" target="_blank" class="header">
        <i title="RSS" class="fas fa-rss"></i>
    </a>
    {{ end }}
  </nav>
  
  {{ with .Site.Params.description }}
  <div class="hidden description">{{ safeHTML . }}</div>
  {{ end }}
</header>